.place-bet-header{
  color: rgb(0,225,195);
  font-family: 'montserrat';
}

.place-bet-btn{
  background-color:#43455C;
  color: rgb(0,225,195);
  box-shadow: rgb(0,225,195);
  border: none;
  font-family: montserrat;
}
.place-bet-btn:hover{
  color:#43455C;
  background-color: rgb(0,225,195);
  box-shadow: rgb(0,225,195);
  border: none;
  font-family: montserrat;
}


.bet-inputs{
  background-color: #43455C;
  border-style: none;
  color:rgb(0,225,195);
}
.bet-inputs::-webkit-input-placeholder{
  font-size: 10px;
}

.bet-inputs-button:hover{
  background-color: rgb(0,225,195);
  border-style: none;
  color:#43455C;
}
.bet-inputs-button{
  background-color: #43455C;
  border-style: none;
  color:rgb(0,225,195);
  margin-left: 0;
}

.bet-inputs:focus{
  background-color: #43455C;
  border-style: none;
  color:rgb(0,225,195);
  box-shadow: none;
}

.bet-inputs:hover{
  background-color: #43455C;
  border-style: none;
  color:rgb(0,225,195);
  box-shadow: none;
}

.target-profit{
  font-family: montserrat;
  color: rgb(0,225,195);
}


